:root {
    --rosadoCukie: rgba(252, 127, 182, 1);
    --blanco: #fff;
}

html {
    font-size: 10px;
}

.header-principal-movil {
    display: flex;
    height: 70px;
    background: var(--rosadoCukie);  
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    color: var(--blanco);    
    border: 1px solid var(--rosadoCukie) ;
}

.header-principal-movil .nav-movil-izq {
    display: flex;
}

.header-principal-movil .marcaCukieMayuscula
{
    font-family: liberation-sans;
    font-weight: 400;
    font-style: normal;
        font-size: 3rem;
}

.header-principal-movil .marcaCukieMinuscula
{
    font-family: liberation-sans;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}


.header-principal-movil .marcaDoo {
    font-family:'Gill Sans MT';
    
    font-weight: 100;
    color: var(--blanco);
    font-size: 3.0rem;
}

.header-principal-movil .byAOLAB {
    font-family: "Century Gothic";
    font-size: 1rem;
}



.nav-movil {
    color: var(--blanco);
    font-size: 3rem;
}


.contenedor-imagen-banner {
    display: flex;
    flex-direction: column;
    
    
}

.contenedor-imagen-banner .foto-banner {
    display: flex;
    
    background-image: url(/img/PosibleBanner2.jpg);
    background-size: 115%;
    min-height: 700px;
    background-repeat: no-repeat;
    padding: 35%;
    
    }
    


.mySlides {
    display: flex;
    border-radius: 50%;
    margin-top: -255px;
    margin-left: 150px;
    
}